<section id="main-content" class="container-fluid home-section" *ngIf="currentUser">
  <mat-card class="main-card">
    <div class="row split">
      <as-split direction="{{layoutOrientation}}">
        <as-split-area size="50">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-section-map></app-section-map>
          </div>
        </as-split-area>
        <as-split-area size="50">
            <mat-tab-group>
                <mat-tab label="General">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-card__content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-card class="ngx-charts" *ngIf="_eventsChart && (_eventsChart.length > 0)">
                              <ngx-charts-bar-vertical-normalized [scheme]="colorScheme" [results]="_eventsChart" [xAxis]="true"
                                [yAxis]="true"  [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Time - last 12 hours'"
                                [yAxisLabel]="'Free / Used Spaces (%)'">
                              </ngx-charts-bar-vertical-normalized>
                            </mat-card>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <mat-card>
                              <img class="main-card__content__icons cars" src="/assets/parking-cars.svg" />
                              <mat-card-title>{{_summary['data']?.totalSpacesCount}}</mat-card-title>
                              <mat-card-subtitle>Total Spaces</mat-card-subtitle>
                            </mat-card>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <mat-card>
                              <img class="main-card__content__icons free" src="/assets/parking-free.svg" />
                              <mat-card-title>{{_summary['data']?.freeSpacesCount}}</mat-card-title>
                              <mat-card-subtitle>Free Spaces</mat-card-subtitle>
                            </mat-card>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <mat-card>
                              <img class="main-card__content__icons used" src="/assets/parking-not-free.svg" />
                              <mat-card-title>{{_summary['data']?.occupiedSpacesCount}}</mat-card-title>
                              <mat-card-subtitle>Used Spaces</mat-card-subtitle>
                            </mat-card>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <mat-card>
                              <img class="main-card__content__icons fail" src="/assets/parking-cars.svg" />
                              <mat-card-title>{{_summary['data']?.defectiveSpacesCount}}</mat-card-title>
                              <mat-card-subtitle>Sensor Fail</mat-card-subtitle>
                            </mat-card>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <mat-card>
                              <mat-card-title>Parking area</mat-card-title>
                              <table class="mat-table sensors-card">
                                <tr class="mat-header-row row">
                                  <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mat-header-cell cdk-column-position mat-column-position">
                                    Name
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    Free
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    Occupied
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    Total
                                  </td>
                                </tr>
                                <tr class="mat-row row" *ngFor="let sig of _summary['data']?.parkingAreas">
                                  <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mat-header-cell cdk-column-position mat-column-position">
                                    {{sig.name}}
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    {{sig.freeSpacesCount}}
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    {{sig.occupiedSpacesCount}}
                                  </td>
                                  <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                    {{sig.totalParkingSpaces}}
                                  </td>
                                </tr>
                              </table>
                            </mat-card>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 main-card__areas">
                              <mat-card>
                                <mat-card-title>RIO module & Cloud Info</mat-card-title>
                                <table class="mat-table sensors-card">
                                  <tr class="mat-row row">
                                    <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <b>Name:</b> {{_summary['data']?.rioModule.name}}
                                </td>
                                <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <b>Last State Change:</b> {{_summary['data']?.rioModule.lastStateChangeDate | date:'shortDate'}} - {{_summary['data']?.rioModule.lastStateChangeDate | date:'shortTime'}}
                                </td>
                              </tr>
                              <tr class="mat-row row">
                                <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <b>Sensory Cloud Active:</b> {{_summary['data']?.sensorCloudInfo.sensorCloudActivityDateTime | date:'fullDate'}}
                                </td>
                                <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <b>Sensor Cloud Status:</b> {{_summary['data']?.sensorCloudInfo.sensorCloudStatus}}
                                </td>
                              </tr>
                            </table>
                          </mat-card>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-card__barrier">
                            <mat-card>
                              <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                  <mat-card-title>{{_barriers[0]?.name}}</mat-card-title>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 {{_barriers[0]?.barrierState}}">
                                  <span class="ramp-icon" [class.selected]="">
                                    <img class="ramp-icon__barrier" src="/assets/barrier.png" />
                                    <img class="ramp-icon__pillar" src="/assets/pillar.png" />
                                  </span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                  <button mat-raised-button color="primary" (click)="updateEntryBarrierStatus(_barriers[0])"
                                    [class.selected]="">{{_barriers[0]?.barrierState}}
                                  </button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                  <mat-card-title>{{_barriers[0]?.lastStateChangeDate | date:'shortDate'}} - {{_barriers[0]?.lastStateChangeDate | date:'shortTime'}}</mat-card-title>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                  <mat-chip-list class="{{_barriers[0]?.barrierState}}">
                                    <mat-chip color="primary"></mat-chip>
                                  </mat-chip-list>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                  <mat-card-title>{{_barriers[1]?.name}}</mat-card-title>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 {{_barriers[1]?.barrierState}}">
                                  <span class="ramp-icon" [class.selected]="">
                                    <img class="ramp-icon__barrier" src="/assets/barrier.png" />
                                    <img class="ramp-icon__pillar" src="/assets/pillar.png" />
                                  </span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                  <button mat-raised-button color="primary" (click)="updateExitBarrierStatus(_barriers[1])"
                                    [class.selected]="">{{_barriers[1]?.barrierState}}</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                  <mat-card-title>{{_barriers[1]?.lastStateChangeDate | date:'shortDate'}} - {{_barriers[1]?.lastStateChangeDate | date:'shortTime'}}</mat-card-title>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                  <mat-chip-list class="{{_barriers[1]?.barrierState}}">
                                    <mat-chip color="primary"></mat-chip>
                                  </mat-chip-list>
                                </div>
                              </div>
                            </mat-card>
                          </div>
                        </div>
                      </div>
                </mat-tab>
                <mat-tab label="Alerts">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-card__content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-card>
                              <mat-card-title>Alert List</mat-card-title>
                              <table class="mat-table sensors-card alarms">
                                  <tr class="mat-row row" *ngFor="let sig of _alarms['data']?.alarms">
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                      {{sig.title}}
                                    </td>
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position {{sig.type}}">
                                      <span>{{sig.type}}</span>
                                    </td>
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mat-header-cell cdk-column-position mat-column-position">
                                      {{sig.eventTime | date:'shortDate'}} - {{sig.eventTime | date:'shortTime'}}
                                    </td>
                                    <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mat-header-cell cdk-column-position mat-column-position">
                                      {{sig.details}}
                                    </td>
                                  </tr>
                              </table>
                            </mat-card>
                          </div>
                      </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </as-split-area>
      </as-split>
    </div>
  </mat-card>
</section>
<notifier-container></notifier-container>
